* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif, Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
    height: auto; 
}
.header {
    padding-top: 0px;
    padding-bottom: 0px;
    /* background-color: rgb(228, 230, 231); */
    color: rgb(11, 19, 18);
        
    border-bottom: solid 4px rgb(230, 230, 185);
 }

 .header h1 {

     margin-right: 15px;
 }

.container1 {
    width: 100%;
    max-width: 1200;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header .flag2 .container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.impact {
    font-family: impact, "arial narrow bold", sans-serif;
}

.header .flag1 {
    background-color: green;
    margin: 0;
    height: 50px;
}
.header .flag2 {
    background-color: white;
    height: 50px;
}
.header .flag3 {
    background-color: red;
    height: 50px;
}

.header .container1 nav ul li {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 20px;
    
}


.header .container1 nav ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

/* Popup */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    display: none;
  }
  .popup__mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .open .popup__mask {
    opacity: 1;
  }
  .popup__box {
    position: absolute;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    max-width: 650px;
    padding: 25px;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.3s;
  }
  .open .popup__box {
    opacity: 1;
    transform: translateY(0);
  }
  .popup__close {
    float: right;
    cursor: pointer;
  }

  /* pop2 */
  .popup2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    display: none;
  }
  .popup__mask2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .open .popup__mask2 {
    opacity: 1;
  }
  .popup__box2 {
    position: absolute;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    max-width: 650px;
    padding: 25px;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.3s;
  }
  .open .popup__box2 {
    opacity: 1;
    transform: translateY(0);
  }
  .popup__close2 {
    float: right;
    cursor: pointer;
  }
 



/* BAR  */
.bar {
    margin: 0px;
}
.bar .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.bar .container2 nav ul li {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: green;
    width: 80px;
    height: 20px;
    position: relative;
    
}

.header .bar .container2 nav ul li:after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: green;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transition: left 0.4s, width 0.4s;
}

.header .bar .container2 nav ul li:hover:after {
    width: 100%;
    left: 0%;
}
.header .container2 a {
    color: green;
    text-decoration: none;
}
/* header */

h6 {
    color: white;
    font-size: 20px;
    font-weight: 900;
}
.main {
    background-image: url('../images/Irans-Most-Wild-and-Beautiful-Places-by-National-Geographic.jpg')  ;
    background-size: cover;
    backdrop-filter: blur(50px);
    /* filter: blur(10px); */
    
 /* background-color: rgb(250, 189, 252); */
 
}

.col-md-8 {
    /* background-color: aqua; */
    padding-top: 15px;
    padding-bottom: 15px;
}
.col-6  {
    background-color: rgb(217, 255, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid black;
}
h3 {
    font-family: sans-serif;
    font-size: 14px;
}

.col-md-3 {
    margin: 15px 15px;
}


.row {
    padding: 0px 15px;
    margin: 15px 0px;
}


.col-md-6 {
    
    border: solid;
    border-radius: 20px;
    border-color: blueviolet;
}

/* page1  */

.mySlider-no1 .slide-size {
    width: 100%;
    height: 500px;
}

.mySlide img {
    width: 100%;
    height: 100%;
    background-size: cover;
}


.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    color: white;
    z-index: 10;
    font-size: 40px;
    cursor: pointer;
}

.slick-next {
    left: auto;
    right: 40px;
}
.slick-slide {
    height: 200px;
}
.slick-slide img {
 width: 100%;
 height: 100%;
object-fit: cover;
} 

.slide-size {
    width: 100%;
    height: 500px;
}
.slide-size img, .slide-size iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slick-dots button {
    display: none;
}

.slick-dots li {
    height: 10px;
    width: 10px;
    background-color: rgba(255,255,255,0.5);
    
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px;
}

.slick-dots .slick-active {
    background-color: rgba(255,255,255,1);
}

.autoplay img {
    width: 100%;
    height: auto;
}

/* page3 */

.col-md-4 .row .col h3 {
    font-size: 20px;
    cursor: pointer;
}

.col-md-4 .row .col .img {
    background-color: blue;
    display: none;
    width: 500px;
    height: auto;
    position: absolute;

    left: 200px;
    top: 200px
}

.col-md-4 .row .col h3:hover + .img {
  display: block;
}

form {
    background-color: #ccc;
    padding: 20px;
    margin: 50px;
  }


/* page 4 */
.main4 {
 background-color: #fff;
 margin: 0;
 padding: 0;
}
.ecotourism {
    position: absolute;
    margin-left: 450px;
    margin-top: 200px;
    font-family: fantasy;
    font-size: 100px;
    

}

.page4 {
    align-items: center;
    justify-content: center;
}
.col-md-2 {
    background-color: #ccc;
    width: 250px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 10px;
}
h2 {
    font: bold;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.page4 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.page4 img {
    width: 100%;
    height: auto;
}
/* footer */

.footer {
    background-color: #5a378f;
    padding: 60px 20px;
    text-align: center;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer nav ul {
    padding: 0px;
}

.footer nav ul li {
    display: inline-block;
    font-size: 20px;
    margin: 0 5px;
}
.footer a {

    color: #ffff;
}

.footer a:hover {
    color: #ff7e33;
}

/* Contact popup  */

.popup3 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    display: none;
  }
  .open-pop3 {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
  }
  .popup__mask3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .open .popup__mask3 {
    opacity: 1;
  }
  .popup__box3 {
    position: absolute;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    max-width: 650px;
    padding: 25px;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.3s;
  }
  .open .popup__box3 {
    opacity: 1;
    transform: translateY(0);
  }
  .popup__close3 {
    float: right;
    cursor: pointer;
  }
 

.hero-banner {
    width: 100%;
    background-color: #4251B5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
  }
  
  .hero-banner h1 {
    margin: 0; 
    color: #fff;
  }
  
  .hero-banner p {
    color: orange;
  }
  
  .hero-banner i {
    color: #fff;
    font-size: 35px;
    margin: 0 10px;
  }
